apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: otp-prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: karthik26/otp-frontend:aws2
        ports:
        - containerPort: 80
